.book-page__info {
    padding: 47px 0 17px;
    display: grid;
    grid-template-columns: minmax(min-content, 445px) 1fr;
    grid-template-rows: repeat(5,auto);
    gap: 24px 30px;
}
.book-page__img {
    width: 100%;
    max-height: 593px;
    grid-area: 1 / 1  / 5 / 1;
    object-fit: cover;
    border-radius: 10px;
}
.book-page__img.book-no {
    background-size: 16%;
}
.book-page__title {
    grid-area: 1 / 2  / 2 / 3;
}
.book-page__author {
    margin: 0 0 12px;
    grid-area: 2 / 2  / 3 / 2;
}
.book-page__text {
    grid-area: 4 / 2  / 5 / 2;
}
.book-page__text .about {
    margin: 38px 0 13px;
    padding-bottom: 16px;
    border-bottom: 1px solid #F9F9FA;
}
.book-page__text .about-p:not(:last-child) {
    margin: 0 0 24px;
}
.book-page__info .btn {
    max-width: 350px;
    height: 52px;
    margin: 0;
    border-radius: 30px;
    grid-area: 3 / 2  / 4 / 2;
}
.rating-item:not(:last-child) {
    margin-right: 12px;
} 
.rating-num {
    margin-left: 12px;
}
@media screen and (max-width: 992px) {
    .book-page__info {
        padding: 48px 0 21px;
        grid-template-columns: minmax(min-content, 136px) 1fr;
        gap: 32px;
    }
    .rating-box .title,
    .book-page__text .about,
    .spec .title {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }
    .book-page__img {
        height: 200px;
        border-radius: 3px;
    }
    .book-page__title {
        font-size: 24px;
        line-height: 30px;
    }
    .book-page__author {
        margin: 0;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
    }
    .book-page__info .btn {
        max-width: 306px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }
    .book-page__text {
        grid-area: 4 / 1 / 5 / 3;
    }
    .book-page__text .about {
        margin: 15px 0 14px;
    }
    .book-page__text .about-p:not(:last-child) {
        margin: 0 0 24px;
    }
    .rating-box {
        max-width: 305px;
    }
    .rating-box .title {
        margin-bottom: 14px;
    }
    .rating-num {
        margin-left: 12px;
    }
    .rating-box .rating {
        gap: 6px;
    }
    .rating-item:not(:last-child) {
        margin-right: 6px;
    }
}
@media screen and (max-width: 480px) {
    .rating-box .title, .book-page__text .about, .spec .title {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
    }

    .book-page__info {
        padding: 22px 0 41px;
        grid-template-columns: 1fr;
        gap: 8px;
    }
    .book-page__img {
        max-width: 188px;
        height: auto;
        margin-bottom: 8px;
        justify-self: center;
        grid-area: 1/1/1/2;
    }
    .book-page__title {
        grid-area: 2/1/2/2;
        font-size: 18px;
        line-height: 28px;
    }
    .book-page__author {
        margin-bottom: 34px;
        grid-area: 3/1/3/2;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }
    .book-page__info .btn {
        height: 40px;
        grid-area: 4 / 1 / 4 / 2;
        font-size: 12px;
        line-height: 18px;
    }
    .book-page__text {
        grid-area: 5 / 1 / 5 / 2;
    }
    .book-page__text .about {
        margin: 34px 0 0;
    }
    .about-p {
        font-size: 12px;
        line-height: 18px;
    }
    .book-page__text .about-p:not(:last-child) {
        margin: 0;
    }
    .rating-box .title {
        margin-bottom: 8px;
        padding: 0 0 7px;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
    }
    .rating-box img {
        width: 100%;
    }
    .rating-box .rating-item {
        width: 34px;
    }
    .rating-box .reviews .title {
        max-width: 305px;
        padding: 0 0 8px;
        margin: 0 0 9px;
    }
    .review-t {
        margin-bottom: 2px;
        display: grid;
        grid-template-columns: 32px 1fr;
        grid-auto-rows: 20px;
        gap: 0 17px;
    }
    .review-t .name,
    .review-t .date {
        margin-top: -20px;
        font-size: 15px;
    }
    .review-t .date {
        grid-area: 2/2;
    }
    .reviews .title {
        margin: 0 0 13px;
    }
    .review .rating-item:not(:last-child) {
        margin-right: 8px;
    }
}