@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
body {
  height: 100%;
  justify-content: center;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #363636;
  letter-spacing: 0.1px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  padding: 0;
  font: inherit;
}
/* Style Kit */
.accent {
  background: #FF5253;
}
.dark {
  background: #363636;
}
.dark30 {
  background: rgba(54, 54, 54, 0.3);
}
.white {
  background: #ffffff;
}
.btn {
  background: linear-gradient(233.73deg, #F83600 -16.08%, #F9D423 327.37%);
}
.btn:hover {
  background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
}
.warning {
  background: #FFBC1F;
}
.positive {
  background: #00CA71;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
}
.positive-ops {
  background: #EBF9F1;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
}
.negative {
  background: #F42C4F;
}
.negative-ops {
  background: #FEEBEA;
}
.black70 {
  background: #727272;
}
.black40 {
  background: #A7A7A7;
}
.black20 {
  background: #BFC4C9;
}
.black10 {
  background: #EBEBEB;
}
.black5 {
  background: #F9F9FA;
}
/* Style Kit */
/* fonts desktop */
h1 {
  font-weight: 500;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 0.2px;
  color: #000000;
}
h2 {
  font-weight: 600;
  font-size: 44px;
  line-height: 54px;
  color: #000000;
}
h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #000000;
}
h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #000000;
}
h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #000000;
}
.subtitle-l {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #000000;
}
.subtitle-s {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #000000;
}
.body-l {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #000000;
}
.body-s {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #000000;
}
.info-l {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #000000;
}
.info-s {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #000000;
}
.btn-l {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #000000;
}
.btn-s {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #000000;
}
/* fonts desktop */
/* fonts mobile */
h1.mob {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
}
h2.mob {
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  color: #000000;
}
h3.mob {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #000000;
}
.subtitle-l--mob {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #000000;
}
.subtitle-s--mob {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #000000;
}
.body-l--mob {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #000000;
}
.body-s--mob {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.btn-l--mob {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #000000;
}
.btn-s--mob {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #000000;
}
.info-l--mob {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #000000;
}
.info-s--mob {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #000000;
}
/* fonts mobile */